<% @farmers.each do |farmer| %>
	<div class="genie-box text-center col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">

		<h1>
			<%= farmer.title %>
		</h1>

		<%= image_tag farmer.image, :class => 'img-responsive' %>

		<h3> Description: </h3> <%= farmer.description %>

	</div>

<% end %>