<% @places.each do |place| %>
	<div class="genie-box text-center col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">

		<h1>
			<%= place.title %>
		</h1>

		<%= image_tag post.image, :class => 'img-responsive' %>

		<h2> Description: </h2> <%= place.description %>

	</div>

<% end %>

